/4-Memahami Program/nbproject/private/
/5-Organisasi Program dengan Package/nbproject/private/
/06-Printing dan alur eksekusi java/nbproject/private/
/7-Memahami String[[]] args/nbproject/private/
/8-Variable/nbproject/private/
/9-Tipe Data Primitive/nbproject/private/
/9-Tipe Data Primitive/build/
/10-Operator Aritmatika/nbproject/private/
/11-Konversi tipe data/nbproject/private/
/12-Operator Unary/nbproject/private/
/13-Operator Assignments/nbproject/private/
/14-Operator Komparasi/nbproject/private/
/15-Operator Logika/nbproject/private/
/16-Operator Bitwise/nbproject/private/
/17-Latihan Aritmatika/nbproject/private/
/18-Latihan urutan operasi aritmatika/nbproject/private/
/19-Latihan Operator Logika/nbproject/private/
/20-If Statement/nbproject/private/
/21-If else if statement/nbproject/private/
/22-If bersarang (nested if)/nbproject/private/
/23-Switch Case/nbproject/private/
/24-Ternary operator/nbproject/private/
/25-Latihan Kalkulator Sederhana/nbproject/private/
/26-Latihan kalkulator dengan switch case/nbproject/private/
/27-While Loop/nbproject/private/
/28-Do While Loop/nbproject/private/
/29-For Loop/nbproject/private/
/30-Latihan Loop Sederhana/nbproject/private/
/31-Latihan Deret Fibonacci/nbproject/private/
/32-Break, Continue, dan return/nbproject/private/
/33-Looping Bersarang/nbproject/private/
/34-fungsi atau method (pengenalan)/nbproject/private/
/35-fungsi void tanpa return/nbproject/private/
/36-latihan fungsi/nbproject/private/
/37-Fungsi recursive/nbproject/private/
/38-recursive bercabang/nbproject/private/
/39-overload fungsi/nbproject/private/
/40-Pengenalan Array/nbproject/private/
/41-Looping Array dengan For Each/nbproject/private/
/42-Mengenal Array lebih dalam/nbproject/private/
/43-Operasi pada Array/nbproject/private/
/44-Latihan Array/nbproject/private/
/45-Array multidimensi/nbproject/private/
/46-Array multidimensi lebih dalam/nbproject/private/
/47-Latihan array 2D (Operasi Matrix)/nbproject/private/
/48-Pengenalan String/nbproject/private/
/49-Operasi String/nbproject/private/
/50-String Builder/nbproject/private/
/51-Format String/nbproject/private/
/51-Format String/build/
/24-Ternary operator/build/